.MiniPokemonCard {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  border: 2px solid red;

  .pokemonImage {
    margin: 8px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    gap: 12px;
    margin: 0;
    padding-left: 8px;

    p,
    h4 {
      margin: 0;
    }

    .typesWrapper {
      display: flex;
      gap: 4px;
      margin: 0;

      img {
        margin: 0;
      }
    }
  }
}
