.MiniPokemonCard {
  display: flex;
  align-items: center;
  width: 240px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all ease-in 0.3s;
  color: #2f2f2f;

  .pokemonImage {
    margin: 8px;
    padding: 2px;
    filter: drop-shadow(0 12px 6px rgba(0, 0, 0, 0.3));
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    gap: 12px;
    margin: 0;
    padding-left: 8px;
    border-left: 2px solid #000000;

    p,
    h4 {
      margin: 0;
    }

    .typesWrapper {
      display: flex;
      gap: 4px;
      margin: 0;

      img {
        margin: 0;
      }
    }
  }

  &:hover {
    background-color: #f75941;
  }
}
